@model RecipeDetailsViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> _signInManager;
<!-- Modal -->
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<form asp-action="SetRating">
    @if (@Model.Recipe.Img != null)
    {
        var tmp = "data:image/jpg;base64," + Convert.ToBase64String(Model.Recipe.Img, 0, Model.Recipe.Img.Length);
        <img alt="" src="@tmp" style="height:300px;width:300px;" />
    }

    <div class="form-group">
        <input asp-for="Recipe.Id" hidden />
    </div>

    <div class="form-group">
        <label asp-for="Recipe.Name"></label>
        <input asp-for="Recipe.Name" class="form-control" style="background-color: #f8f8f8" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Recipe.Time"></label>
        <input asp-for="Recipe.Time" class="form-control" style="background-color: #f8f8f8" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Recipe.Type.Name"></label>
        <input asp-for="Recipe.Type.Name" class="form-control" style="background-color: #f8f8f8" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Recipe.Description"></label>
        <textarea asp-for="Recipe.Description" class="description" readonly></textarea>
    </div>

    <table class="table" style="background-color:#DF691A">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Ilość</th>
            </tr>
        </thead>
        <tbody style="background-color:azure">
            @foreach (var item in Model.Recipe.Ingredients)
            {
                <tr style="color:dimgray">
                    <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)@Html.DisplayFor(modelItem => item.Product.Measure)</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <label asp-for="Recipe.AverageRating" class="col-lg-2 col-sm-2 control-label">Średnia ocena</label>
        <div class="col-lg-8">
            <span class="rating">
                @for (int i = 1; i <= 5; i++)
                {
                    var starClass = "starAv";

                    if (Math.Floor(Model.Recipe.AverageRating) == 6 - i)
                    {
                        starClass += " active";
                    }
                    <span data-value="@(6 - i)" class="@starClass"></span>
                }
            </span>
        </div>
    </div>

    @if (!Model.DidUserRate)
    {
        <div class="form-group">
            <label asp-for="Rating" class="col-lg-2 col-sm-2 control-label">Rating</label>
            <div class="col-lg-8">
                <span class="rating">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <span data-value="@(6 - i)" class="star"></span>
                    }
                </span>
            </div>
            <input asp-for="Rating.RatingValue" hidden />
        </div>

        <div class="form-group">
            <label asp-for="Rating.Comment"></label>
            <textarea asp-for="Rating.Comment" class="description"></textarea>
        </div>

        <button id="addComment" type="button" class="btn btn-secondary">Dodaj komentarz</button>
    }
    else
    {
        <div>Już oceniłeś ten przepis</div>
    }


    <div id="commentsViewPlaceHolder"></div>
    <button id="@Model.Recipe.Id" type="button" class="btn btn-secondary show" data-url="@Url.Action("Comments", "Home")">Pokaż komentarze</button>

</form>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
    @if (_signInManager.IsSignedIn(User))
    {
        if (!Model.IsInUserFavourites)
        {
            <button id="add" type="button" class="btn btn-primary">Dodaj do ulubionych</button>
        }
        else
        {
            <button id="remove" type="button" class="btn btn-primary">Usuń z ulubionych</button>
        }
    }

</div>


<script>
    //# sourceURL=_RecipesDetails.cshtml
    $('#addComment').on('click', function (event) {
        event.preventDefault();

        var form = $(this).parents('.modal').find('form');
        var actionUrl = form.attr('action');
        var dataToSend = form.serialize();

        $.post(actionUrl, dataToSend).done(function (data) {
            $('#modal-placeholder').html(data);
        });
    });

    $(".star").click(function () {
        $(".star").removeClass('active');
        $(this).addClass('active');
        var starValue = $(this).data("value");
        $("#Rating_RatingValue").val(starValue);
    });

    $('.show').on('click', function () {
        var path = '@Url.Action("Comments", "Home", new { id=Model.Recipe.Id })';
        $("#commentsViewPlaceHolder").load(path);
    });

    $('#add').on('click', function () {
        var path = '@Url.Action("AddToFavourite", "Home", new { id=Model.Recipe.Id })';
        $("#modal-placeholder").load(path);
    });
    $('#remove').on('click', function () {
        var path = '@Url.Action("RemoveFromFavourite", "Home", new { id=Model.Recipe.Id })';
        $("#modal-placeholder").load(path);
    });
</script>
