@model RecipesListViewModel

@{
    ViewData["Title"] = "_RecipesListPartial";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="row  justify-content-center">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="col-md-3 justify-content-center" style="margin: 10px">
            <div class="card bg-dark h-100">
                @if (recipe.Img != null)
                {
                    var tmp = "data:image/jpg;base64," + Convert.ToBase64String(@recipe.Img, 0, @recipe.Img.Length);
                <div class="card-body">
                    <img alt="" src="@tmp" class="img-fluid" style="height:200px;width:200px;" />
                </div>
                }

                <div class="card-header text-center">
                    <h4>@recipe.Name</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input asp-for="@recipe.Id" hidden />
                    </div>
                    <div class="text-center">
                        <button id="@recipe.Id" type="button" class="btn btn-lg btn-light recipeDetails" data-toggle="ajax-modal" data-target="#details" data-url="@Url.Action("Details")">Szczegóły</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="submitRecipeLabel" aria-hidden="true">
            <div class="modal-dialog customModal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="submitRecipeLabel">@recipe.Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body " id="modal-placeholder"></div>
                </div>
            </div>
        </div>
    }
</div>

<div class="paginationContainer">
        <ul class="pagination pg-blue justify-content-center">

            @if (Model.PagingInfo.CurrentPage > 1)
            {
                <li class="page-item inline-block">
                    <button id="prevPage" class="btn page-link"><<</button>
                </li>
            }
            else
            {
                <li class="page-item disabled inline-block">
                    <a id="prevPage" class="btn page-link"><<</a>
                </li>
            }

            @if (Model.PagingInfo.TotalPages > 1)
            {
                for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                {
                    if (i == Model.PagingInfo.CurrentPage)
                    {
                        <li class="page-item active inline-block">
                            <button id="@i " class="btn page-link page">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item inline-block">
                            <button id="@i" class="btn page-link page">@i</button>
                        </li>
                    }
                }
            }

            @if (Model.PagingInfo.CurrentPage < Model.PagingInfo.TotalPages)
            {
                <li class="page-item">
                    <button id="nextPage" class="btn page-link inline-block">>></button>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <button id="nextPage" class="btn page-link inline-block">>></button>
                </li>
            }
        </ul>
</div>



<script>
    $("#nextPage").on("click", function (e) {
        var page = @Model.PagingInfo.CurrentPage + 1;
        var selectedTypeIds = $("#typeDropDown").val();
        var includedCategoryIds = $("#categoryIncludedDropDown").val();
        $("#viewPlaceHolder").load("/Home/Recipes",
            { SelectedTypeIds: selectedTypeIds, IncludedCategoryIds: includedCategoryIds, recipePage: page});
    });

    $("#prevPage").on("click", function (e) {
        var page = @Model.PagingInfo.CurrentPage - 1;
        var selectedTypeIds = $("#typeDropDown").val();
        var includedCategoryIds = $("#categoryIncludedDropDown").val();
        $("#viewPlaceHolder").load("/Home/Recipes",
            { SelectedTypeIds: selectedTypeIds, IncludedCategoryIds: includedCategoryIds, recipePage: page});
    });

    $(".page").on("click", function (e) {
        var page = $(this).attr('id');
        var selectedTypeIds = $("#typeDropDown").val();
        var includedCategoryIds = $("#categoryIncludedDropDown").val();
        $("#viewPlaceHolder").load("/Home/Recipes",
            { SelectedTypeIds: selectedTypeIds, IncludedCategoryIds: includedCategoryIds, recipePage: page});
    });

    $(function () {
        var placeholderElement = $('#modal-placeholder');

        $('.recipeDetails').click(function (event) {
            var url = $(this).data('url') + '/' + $(this).attr('id');
            $.get(url).done(function (data) {
                placeholderElement.html(data);
                $('#details').modal('show');
            });
        });

        placeholderElement.on('click', '#submit', function (event) {
            event.preventDefault();

            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');
            var dataToSend = form.serialize();

            $.post(actionUrl, dataToSend).done(function (data) {
                placeholderElement.find('.modal').modal('hide');
            });
        });
    });
</script>

