@model RecipeDetailsViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> _signInManager;
<!-- Modal -->
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<form asp-action="SetRating">
    <div class="row">
        @if (@Model.Recipe.Img != null)
        {
            var tmp = "data:image/jpg;base64," + Convert.ToBase64String(Model.Recipe.Img, 0, Model.Recipe.Img.Length);
            <div class="col-lg-6">
                <img alt="" src="@tmp" style="height:300px;width:300px;" />
            </div>
        }
        <div class="col-lg-6">

            <div class="form-group">
                <label asp-for="Recipe.Time"></label>
                <input asp-for="Recipe.Time" class="form-control" style="background-color: #f8f8f8" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Recipe.Type.Name"></label>
                <input asp-for="Recipe.Type.Name" class="form-control" style="background-color: #f8f8f8" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Recipe.AverageRating" class="control-label">Średnia ocena</label>
                <div>
                    <span class="rating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            var starClass = "starAv";

                            if (Math.Floor(Model.Recipe.AverageRating) == 6 - i)
                            {
                                starClass += " active";
                            }
                            <span data-value="@(6 - i)" class="@starClass"></span>
                        }
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <input asp-for="Recipe.Id" hidden />
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label asp-for="Recipe.Description"></label>
            <textarea asp-for="Recipe.Description" class="description" readonly></textarea>
        </div>
        <div class="col-lg-6">
            <label for="ingredients">Składniki</label>
            <table id="ingredients" class="table" style="background-color:#DF691A">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                    </tr>
                </thead>
                <tbody style="background-color:azure">
                    @foreach (var item in Model.Recipe.Ingredients)
                    {
                        <tr style="color:dimgray">
                            <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity)@Html.DisplayFor(modelItem => item.Product.Measure)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @if (!Model.DidUserRate)
    {
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="Rating" class="control-label">Twoja ocena</label>
                <div>
                    <span class="rating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <span data-value="@(6 - i)" class="star"></span>
                        }
                    </span>
                </div>
                <input asp-for="Rating.RatingValue" hidden />
            </div>

            <div class="form-group col-lg-6">
                <label asp-for="Rating.Comment">Twój komentarz</label>
                <textarea asp-for="Rating.Comment" class="description"></textarea>
            </div>
        </div>
        <div class="row text-center addCommentDiv">
            <div class="col-lg-12">
                <button id="addComment" type="button" class="btn btn-primary">Dodaj komentarz</button>
            </div>
        </div>
    }
    else
    {
        <div class="row text-center addCommentDiv">
            <div class="col-lg-12">
                <h2>Już oceniłeś ten przepis</h2>
            </div>
        </div>
    }

    <div id="commentsViewPlaceHolder"></div>

</form>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
    @if (_signInManager.IsSignedIn(User))
    {
        if (!Model.IsInUserFavourites)
        {
            <button id="add" type="button" class="btn btn-primary">Dodaj do ulubionych</button>
        }
        else
        {
            <button id="remove" type="button" class="btn btn-primary">Usuń z ulubionych</button>
        }
    }

</div>


<script>
    //# sourceURL=_RecipesDetails.cshtml
    $(document).ready(function () {
        var path = '@Url.Action("Comments", "Home", new { id=Model.Recipe.Id })';
        $("#commentsViewPlaceHolder").load(path);
    });

    $('#addComment').on('click', function (event) {
        event.preventDefault();

        var form = $(this).parents('.modal').find('form');
        var actionUrl = form.attr('action');
        var dataToSend = form.serialize();

        $.post(actionUrl, dataToSend).done(function (data) {
            $('#modal-placeholder').html(data);
        });
    });

    $(".star").click(function () {
        $(".star").removeClass('active');
        $(this).addClass('active');
        var starValue = $(this).data("value");
        $("#Rating_RatingValue").val(starValue);
    });

    $('#add').on('click', function () {
        var path = '@Url.Action("AddToFavourite", "Home", new { id=Model.Recipe.Id })';
        $("#modal-placeholder").load(path);
    });
    $('#remove').on('click', function () {
        var path = '@Url.Action("RemoveFromFavourite", "Home", new { id=Model.Recipe.Id })';
        $("#modal-placeholder").load(path);
    });


</script>
