@model RecipesListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<label for="ddlType">Select Type</label>

@Html.ListBoxFor(model => model.SelectedTypeIds, new MultiSelectList(Model.Types, "TypeId", "Name"), new { id = "typeDropDown", multiple = "multiple" })
@Html.ListBoxFor(model => model.SelectedIncludedCategoriesIds, new MultiSelectList(Model.Categories, "CategoryId", "Name"), new { id = "categoryIncludedDropDown", multiple = "multiple" })
@Html.ListBoxFor(model => model.SelectedExcludedCategoriesIds, new MultiSelectList(Model.Categories, "CategoryId", "Name"), new { id = "categoryExcludedDropDown", multiple = "multiple" })
<input id="btnSearch" type="button" class="btn btn-primary" value="Search" />

<div id="viewPlaceHolder"></div>
@for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
{
    <input class="btnPage" type="button" value="@i" />
}
<script>
    $(function () {
        $("#typeDropDown").chosen({
            width: "50%"
        });
    });

    $(function () {
        $("#categoryIncludedDropDown").chosen({
            width: "25%"
        });
    });

    $(function () {
        $("#categoryExcludedDropDown").chosen();
        width: "25%"
    });


    $(document).ready(function () {
        var selectedTypeIds = $("#typeDropDown").val();
        $("#viewPlaceHolder").load("/Home/Recipes",
            { SelectedTypeIds: selectedTypeIds });
    });

    $("#typeDropDown").change(function (e) {
        var selectedTypeIds = $("#typeDropDown").val();
        $("#viewPlaceHolder").load("/Home/Recipes",
            { SelectedTypeIds: selectedTypeIds });
    });

    $("#btnSearch").on("click", function (e) {
        var selectedTypeIds = $("#typeDropDown").val();
        var includedCategoryIds = $("#categoryIncludedDropDown").val();
        $("#viewPlaceHolder").load("/Home/Recipes",
            { SelectedTypeIds: selectedTypeIds, IncludedCategoryIds: includedCategoryIds });
    });

    $(".btnPage").on("click", function (e) {
        var page = $(".btnPage").val();
        var selectedTypeIds = $("#typeDropDown").val();
        var includedCategoryIds = $("#categoryIncludedDropDown").val();
        $("#viewPlaceHolder").load("/Home/Recipes",
            { SelectedTypeIds: selectedTypeIds, IncludedCategoryIds: includedCategoryIds, recipePage: page });
    });
</script>

<div page-model="@Model.PagingInfo" page-action="Recipes"></div>
